{% extends "base.html" %}

{% block content %}

<section class="contact-container">

    <div class="contact-image">
        <img src="{{ url_for('static', filename='images/contact.png') }}" alt="Contact">
    </div>

    <div class="contact-text">

        <h1>Contact Us</h1>

        <p><strong>Company Name:</strong> DHK Facility Management Services</p>

        <p><strong>Email:</strong> <a href="mailto:dhkfms25@gmail.com">
            dhkfms25@gmail.com
        </a></p>

        <p><strong>Phone:</strong> +91 9943444014; +91 9943444013</p>

        <p><strong>Address:</strong> 1ST FLOOR, Safi House, 249, Anna Salai, Chokkalingam Nagar, Teynampet, Chennai, Tamil Nadu 600006.</p>

    </div>

</section>

{% endblock %}