{% extends "base.html" %}

{% block content %}
<section class="service-page">

    <div class="service-header">
        <h1>Loader Services (load and unload goods)</h1>
        <p>Efficient Workforce for Logistics & Warehouse Handling</p>
    </div>

    <div class="service-content">
    
        <div class="service-text">
            <p>
                Organizations in logistics, warehousing, and shipping require reliable manpower for material handling operations. 
                DHK Facility Management Services provides trained loaders to meet these operational needs.

            </p>
            <br>
            <br>
            <br>
            <br>
            <br>

        </div>
    
        <div class="service-image">
            <img src="{{ url_for('static', filename='images/loaders.png') }}" class="service-img">
            <br>
            <br>
            <br>
            <br>
            
        </div>
    
    </div>
    
    </section>
    {% endblock %}