{% extends "base.html" %}

{% block content %}
<section class="service-page">

    <div class="service-header">
        <h1>Office Assistant Services</h1>
        <p>Reliable Support Staff for Smooth Office Operations</p>
    </div>

    <div class="service-content">
    
        <div class="service-text">
            <p>
                Efficient back-office operations are critical to the smooth functioning of any organization. Our office assistants
                provide essential administrative and operational support.
            </p>
            <h3>Key Responsibilities:</h3>
            <ul>
                <li>Front and back-office support</li>
                <li>Customer service assistance</li>
                <li>Document handling and processing</li>
                <li>Operation of office equipment</li>
                <li>Pantry management</li>
            </ul>
            <br>
            <br>
            <br>
            <br>
            <br>
                
        </div>

    
        <div class="service-image">
            <img src="{{ url_for('static', filename='images/office.png') }}" class="service-img">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        </div>
    
    </div>
    
    </section>
    {% endblock %}